@import 'nib'
@import 'nib/gradients'
@import "normalize"
@import "github"

$bgpage = #edeff1
$bgheader = #112966
$bgheaderlight = #B7B9C5
$white = #fee
$texthighlight = #fe6

body
  background-color: $bgpage
  font-family: 'Lato', sans-serif
  font-size: 16px
  line-height: 24px

a
  color: #1565C0
  text-decoration: none

.header
  .logo
    i
      display: inline-block
      font-size: 72px
      color: $texthighlight
      transform: rotateZ(-20deg)
      float: left
      padding-right: 12px

  .top-header
    padding: 8px 0 12px
    background-color: $bgheader
    .center
      max-width: 770px
      margin: 0 auto;
  a
    color: $white
    text-decoration: none

  .title
    a
      color: $texthighlight

  .active
    color: $bgheaderlight

  .title
    padding: 12px 0 0 0
    font-size: 28px
    line-height: 30px;

  .links

    ul
      padding: 0
      margin: 0
      li
        display: inline-block
        padding 0 0.25rem

@media (max-width: 700px)
  .header
    .top-header
      flex-wrap: wrap
      .title
        padding-bottom: 6px
        width: 100%
        order: -1

.page
  max-width: 770px
  margin: 0 auto
  padding: 0 10px;

  .content
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 #BDBDC1;
    padding: 48px

    .date
      color: #989AA8
      font-family: 'Bitter', serif

  h1, h2
    font-family: 'Bitter', serif
    font-weight: bold

  h2
    margin: 0 0 1rem
    font-size: 1rem
    color #666
    border-bottom: 1px solid #ccc

.idea-number-container
  margin-top: 40px

.idea-number
  display: inline-block;
  border: 2px solid #D2D3DD;
  border-radius: 2px;
  font-family: 'Bitter', serif
  color: #989AA8
  padding: 8px 10px

.whoami
  border-top: 2px solid #DADCE0;
  padding-top: 30px
  margin-top: 98px
  color: #989AA8

.glyphs
  display: flex
  flex-wrap: wrap
  margin-top: 0.4rem
.glyph
  margin-bottom: 0.4rem
  .symbol
    text-align: center
    min-width: 3.8rem
  .bottom
    font-size: 0.7rem
    line-height: 0.7rem
    padding 0.25rem 0.25rem 0
    color #999
  .icon
    background: #fafafa
    padding 4px
    border-radius 4px
    margin: 0 auto
    box-shadow: 2px 2px 2px rgba(0,0,0,0.05)
  .icon:hover
    background: #fff
  .s36.icon
    font-size: 36px
    width: 44px
    height 44px
  .s24.icon
    font-size: 24px
    width: 32px
    height 32px

h3.notes
  text-align: right
  font-size: 0.7rem
  margin: -2.4rem 0 0 0
  font-weight: normal
  color #555

.footer
  position: static
  right: 0
  bottom: 0
  left: 0
  padding: 0.25rem
  background-color: $bgheader
  text-align: center
  font-size: 0.8rem
  color: $bgheaderlight
  margin-top: 4rem
  a
    color: $white
    text-decoration: none
code
pre
  background-color: #fff
  font-size: 0.7rem
pre
  padding: 0.5rem
code
  display: inline-block
  padding 0 0.5rem
