@import "normalize"

$bgpage = rgba(237, 239, 241, 1.0)
$bgheader = #272935;
$bgheaderlight = #B7B9C5;
$texthighlight = rgba(255, 82, 82, 1.0);

body
  background-color: $bgpage
  font-family: 'Lato', sans-serif
  font-size: 16px
  line-height: 24px

a
  color: #1565C0
  text-decoration: none

.header
  .top-header
    min-height: 88px
    background-color: $bgheader
    display: flex
    justify-content: space-between
    align-items: flex-end;
    .left
      flex-grow: 1
      white-space: nowrap
      min-width: 180px
    .center
      text-align: center
      align-self: flex-start
      flex-grow: 2
    .right
      text-align: right
      flex-grow: 1
      white-space: nowrap
      min-width: 180px
  .bottom-header
    background-color: $bgheaderlight
    display: flex
    justify-content: space-between
    padding: 2px 6px
    font-size: 13px
    .left
      text-align: left
      width: 100px
    .center
      text-align: center
      flex-grow: 2
    .right
      text-align: right
      width: 100px

.header
  a
    color: #fff
    text-decoration: none
    .bottom
      font-family: 'Bitter', serif

  a
    .top
      color: $texthighlight

  .prev
  .next
    line-height: 24px

  .next
    padding-right: 6px
    padding-bottom: 6px
  .prev
    padding-left: 6px
    padding-bottom: 6px
  .title
    padding: 12px 0 0 0
    font-size: 28px
    line-height: 30px;

@media (max-width: 700px)
  .header
    .top-header
      flex-wrap: wrap
      .title
        padding-bottom: 6px
        width: 100%
        order: -1

.page
  max-width: 770px
  margin: 0 auto
  padding: 0 10px;

  .content
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 #BDBDC1;
    padding: 48px

    .date
      color: #989AA8
      font-family: 'Bitter', serif

  h1
    font-family: 'Bitter', serif
    font-weight: bold

.idea-number-container
  margin-top: 40px

.idea-number
  display: inline-block;
  border: 2px solid #D2D3DD;
  border-radius: 2px;
  font-family: 'Bitter', serif
  color: #989AA8
  padding: 8px 10px

.footer
  margin: 40px 0
  ul
    padding: 0
    margin: 0
    li
      display: inline-block
      padding 0 0.25rem

.whoami
  border-top: 2px solid #DADCE0;
  padding-top: 30px
  margin-top: 98px
  color: #989AA8






.glyphs
  display: flex
  flex-wrap: wrap

.glyph
  font-size: 36px
